services:
  backend:
    container_name: learnyscape-mono-backend
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "8080:8080"
    volumes:
      - ./:/app
      - /app/tmp
    restart: unless-stopped
